# Week 4 — Part 1 Exercises

*Make sure that you work on these exercises and then submit a screenshot of your work to the appropriate assignment page in Canvas.*

___

## Dataset
### *The Pudding*'s Film Dialogue Data

The dataset that we're working with in this lesson is taken from Hannah Andersen and Matt Daniels's *Pudding* essay, ["Film Dialogue from 2,000 screenplays, Broken Down by Gender and Age"](https://pudding.cool/2017/03/film-dialogue/). The dataset provides information about 2,000 films from 1925 to 2015, including characters’ names, genders, ages, how many words each character spoke in each film, the release year of each film, and how much money the film grossed. They included character gender information because they wanted to contribute data to a broader conversation about how "white men dominate movie roles."

___

## Import Pandas

To use the Pandas library, we first need to `import` it.

In [1]:
# Your code here

## Change Display Settings

By default, Pandas will display 60 rows and 20 columns. I often change [Pandas' default display settings](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) to show more rows or columns.

In [3]:
pd.options.display.max_rows = 200

## Get Data

Read in the file "Pudding-Film-Dialogue-Clean.csv"

In [ ]:
film_df = # Your code here

This creates a Pandas [DataFrame object](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#DataFrame) — often abbreviated as *df*, e.g., *slave_voyages_df*. A DataFrame looks and acts a lot like a spreadsheet. But it has special powers and functions that we will discuss in the next few lessons.

## Overview

To look at a random *n* number of rows in a DataFrame, we can use a method called `.sample()`.

In [5]:
film_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
10706,Sugar,2008,Orlando,man,266,0.017379,NaN,1.0,3462
1804,Kundun,1997,Chairman Mao,man,301,0.064206,28.0,10.0,1077
19562,Mystic River,2003,Esther Harris,woman,114,0.010595,61.0,129.0,7502
16862,Heaven Is for Real,2014,Nancy Rawling,woman,357,0.042384,63.0,97.0,6045
13105,Hardcore,1979,Niki,woman,1344,0.161752,28.0,NaN,4333
11476,War Horse,2011,Lt. Charlie Wav,man,140,0.016906,34.0,87.0,3680
5829,The Dark Knight,2008,Loeb,man,164,0.004890,47.0,645.0,2106
16026,Frankenweenie,2012,Bob,man,213,0.051067,14.0,38.0,5404
18725,My Bloody Valentine,2009,Ben Foley,man,653,0.143390,65.0,59.0,7149
8324,Life as a House,2001,Adam Kimball,man,616,0.028450,8.0,23.0,2764

## Pandas Methods

| Pandas method | Explanation                         |
|----------|-------------------------------------|
| `.sum()`      | Sum of values                       |
| `.mean()`     | Mean of values                      |
| `.median()`   | Median of values         |
| `.min()`      | Minimum                             |
| `.max()`      | Maximum                             |
| `.mode()`     | Mode                                |
| `.std()`      | Unbiased standard deviation         |
| `.count()`    | Total number of non-blank values    |
| `.value_counts()` | Frequency of unique values |

# Note: Please don't work ahead on the following questions, because we will be doing them as a group. You can skip to the bonus section if you really want to work ahead.

### ❓  How old (on average) are the characters in this dataset?

In [ ]:
# Your code here

### ❓  How old is the oldest character in the dataset?

In [ ]:
# Your code here

### ❓  How young is the youngest character?

In [ ]:
# Your code here

### ❓  Who speaks the most in the entire dataset?

In [ ]:
# Your code here

### ❓  How many men vs. women characters are in the dataset?

In [ ]:
# Your code here

## Examine Subsets

### ❓  Who are all the characters from Mulan?

![](https://i.ytimg.com/vi/LL06jvZP94U/maxresdefault.jpg)

[Mushu from Mulan](https://disney.fandom.com/wiki/Mushu)

Write a conditional statement that will filter the DataFrame to only show rows that have the title "Mulan." See if you can sort from highest to lowest dialogue.

In [32]:
title_filter = #Your code here

In [ ]:
film_df[title_filter]

### ❓  What potential issues do you notice when you look closer at the words and proportion of dialogue for each character?

What do you think about The Pudding's framing of dialogue as the most important feature in films?

### ❓  Who are all the characters from Monsters, Inc.?

![](https://i.ytimg.com/vi/zuPOunqYH1g/maxresdefault.jpg)

[Roz from Monsters, Inc.](https://disney.fandom.com/wiki/Roz)

Write a conditional statement that will filter the DataFrame to only show rows that have the title "Monsters, Inc." See if you can sort from highest to lowest dialogue.

In [ ]:
title_filter = #Your code here

In [ ]:
film_df[title_filter]

### ❓  What potential issues do you notice when you look closer at this data? (Hint: Look at Roz!)

What do you think about The Pudding's approach to classifying gender in this dataset? Why do you think they chose this miethod? What alternative methods could we potentially use to understand gender?

## Pick Your Own Movie!

Now it's time for your group to pick your own movie to analyze in-depth. If someone in your group did the extra credit assignment, you should pick the movie that they recently watched. Otherwise you should pick a movie that most of you are familiar with.

### ❓  Who are all the characters from Your Movie Choice?

Write a conditional statement that will filter the DataFrame to only show rows that have the title. See if you sort from highest to lowest dialogue.

In [ ]:
#Your code here

# Bonus!

What are other ways that we could use the same data to study something different, or to study gender dynamics from a different angle? Come up with a new question and approach to analyzing the dialogue in these Hollywood films. 

For example, maybe you want to identify the oldest characters who have the most dialogue, or you want to find a way to figure out who the most major minor characters are (what would this even mean? how would you measure this?), or you want to measure how dialogue or gender dynamics differ across movies that made different amounts of money. It's up to you!

Write your idea or new question in words below. Then, if you have time, try to write some code to actually implement this idea. **If you finish, share your code on Discord in #code-sharing**

Idea:

Implementation